.site-header{
		position: relative;
		width: 940px;
		height: 23.57rem;
		background-color: #fff;
		border: 3px solid $border;
		border-radius: 5px;

			@mixin clearfix;
	

	&__img{
		position: relative;
		
		bottom: 0.6rem;
		float: left;

		
	}

	&__heading{
		font-weight: bolder;
		font-size: 2.5rem;
		width: 26.875rem;
		color: $heading;
		position: relative;
		top: -15rem;
		left: 31.25rem;

	}
}