.nav-bar{
	width: 100%;
	height: 180px;
	background-color: $mainNav;
	margin-top: 0;
	margin-bottom: 60px;
			@mixin clearfix;


	&__logo{
		display: inline-block;
		position: relative;
		top: 0;
		left: 150px;
		width: 150px;
		background-color: $mainLogo;
		color: #fff;
		
		font-size: 30px;
		text-transform: uppercase;

		

		
			padding: 40px;
			width: 270px;
			font-size: 50px;
		
		
	}
	&__link{
		display: inline-block;



		
	}
	& ul li {
		position: relative;
		top: -70px;
		right: 150px;
		display: block;
		float: right;

		overflow: hidden;
		z-index: 10;
		background-color: $mainLogo;
		margin-right: 20px;
		padding: 10px;
		border-radius: 5px;

			

		
		& a{
			text-align: center;
			display: inline-block;
			text-transform: uppercase;
			text-decoration: none;
		}


		
	}
}